flask~=3.0.3
pandas~=1.5.3
pip
sqlalchemy~=1.4.51
uvicorn~=0.29.0
fastapi~=0.110.0
starlette~=0.36.3
mysql-connector-python~=8.3.0
pymysql~=1.1.0
schedule~=1.2.1
celery~=5.4.0
redis~=3.5.3
werkzeug~=3.0.6
numpy~=1.26.4
scipy~=1.14.1
scikit-learn~=1.5.2
xgboost~=2.1.1

setuptools~=68.2.2
requests~=2.31.0
tqdm~=4.66.5
matplotlib~=3.9.2
pubchempy~=1.0.4
networkx~=3.3
pandarallel~=1.6.4
scanpy~=1.10.4
anndata~=0.11.1